In [ ]:
quantidade_pessoas = int(input('Quantas pessoas ficarão no quarto? 1 a 4: '))
# usando while para quantidade de hospede ser fora do padrão pedir para colocar novamente
while quantidade_pessoas < 1 or quantidade_pessoas > 4:
    print('Número inválido. Por favor, digite um número entre 1 e 4.')
    quantidade_pessoas = int(input('Quantas pessoas ficarão no quarto? 1 a 4: '))

hospedes = []

# Usando for para perguntar nome e CPF de cada hóspede
for i in range(quantidade_pessoas):
    print(f"\n--- Hóspede {i + 1} ---")
    nome = input("Digite o nome: ")
    cpf = input("Digite o CPF: ")
    
    # Adicionar tupla (nome, cpf) à lista
    hospedes.append((nome, cpf))

#Mostrar a lista final de hóspedes
print("\nLista de hóspedes no quarto:")
for hospede in hospedes:
    print(f"Nome: {hospede[0]}, CPF: {hospede[1]}")

In [23]:
# Lista de vendedores e seus respectivos valores de venda
vendas = [
    ("Ana", 1500),
    ("Bruno", 2800),
    ("Carlos", 800),
    ("Daniela", 3200),
    ("Eduardo", 1200)
]

# Definindo a meta de vendas
meta = 2000

# Usando for para analisar cada vendedor
print('Vendedores que bateram a meta:\n')
for vendedor in vendas:
    nome = vendedor[0]
    valor = vendedor[1]

    if valor >= meta:
        print(nome,' vendeu R$ ',valor,'e bateu a meta vendeu')

Vendedores que bateram a meta:

Bruno  vendeu R$  2800 e bateu a meta vendeu
Daniela  vendeu R$  3200 e bateu a meta vendeu

In [ ]:
#1. Imprima todos os itens de uma lista de compras.
lista_compras = ['arroz', 'feijão', 'macarrão', 'azeite', 'farinha', 'açúcar']
for p in lista_compras:
    print(p)

In [ ]:
#2. Calcule e exiba a soma de todos os números em uma lista.
numeros = [10, 20, 30, 40, 50]
for n in lista_compras:
    print(n)

In [ ]:
# Lista com os nomes dos produtos
produtos = ['Notebook', 'Celular', 'Monitor', 'Teclado', 'Mouse']

# Vendas em 2019 e 2020 (ordem corresponde aos produtos acima)
vendas_2019 = [1000, 1500, 500, 400, 800]
vendas_2020 = [1200, 1800, 450, 500, 900]

print('Produtos com crescimento de vendas em 2020 comparado a 2019:\n')

# Usando for com enumerate para comparar as vendas
for i, produto in enumerate(produtos):
    venda_2019 = vendas_2019[i]
    venda_2020 = vendas_2020[i]

    if venda_2020 > venda_2019:
        crescimento = ((venda_2020 / venda_2019) - 1) * 100
        print('',produto)
        print('  Vendas 2019:' ,venda_2019)
        print('  Vendas 2019:' ,venda_2020)
        print('  Crescimento:' ,round(crescimento, 2))

In [28]:
#3. Conte quantos números ímpares existem em uma lista.
numeros = [1, 4, 7, 10, 13, 16, 19, 22]
contador_impares = 0
for numero in numeros:
    if numero % 2 != 0:  
        contador_impares += 1
print('Quantidade de números ímpares:',contador_impares)

Quantidade de números ímpares: 4

In [ ]:
#4. Verifique quais números de uma lista são múltiplos de 5 e imprima-os.
numeros = [5, 10, 13, 20, 25, 28, 30, 33, 40, 45]

for i in numeros:
    if i % 3 == 0 and i !=0:
        print('É divisivel por 3:',i)

In [ ]:
#5. Multiplique todos os valores de uma lista por 2 e armazene em uma nova lista.
numeros = [1, 4, 7, 10, 13, 16, 19, 22]
nova_lista = []
for numero in numeros:
    novo_valor = numero * 2
    nova_lista.append(novo_valor)
print('Lista com valores multiplicados por 2:', nova_lista)

In [ ]:
#6. Transforme todas as palavras de uma lista de nomes em maiúsculas.
nomes = ['joão', 'maria', 'ana', 'carlos']
nomes_maiusculos = [nome.upper() for nome in nomes]

print(nomes_maiusculos)

In [ ]:
#7. Remova os espaços extras das palavras de uma lista.
palavras = ['   ', ' código  ', '  lista', ' estrutura ']
palavras_sem_espacos = [palavra.strip() 
for palavra in palavras]

print(palavras_sem_espacos)

In [ ]:
#8. Imprima apenas as palavras que começam com a letra "A".
palavras2 = ['banana', 'abacaxi', 'uva', 'amora', 'laranja', 'acerola']
palavras_L = [palavra.capitalize() 
for palavra in palavras2]
   
print(palavras_L)

In [46]:
#9. Dada uma lista de temperaturas em Celsius, converta todas para Fahrenheit.
celsius = [0, 10, 20, 30, 40, 50]
fahrenheit = [temp * 9/5 + 32 
for temp in celsius]
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [ ]:
#10. Dada uma lista de notas, exiba quais estão acima da média da turma.
notas = [5.0, 7.5, 8.0, 6.0, 9.0, 10.0, 4.5, 3.0]
tamanho = len(notas)
for n in range(len(notas)):
    if notas[n] >= 6:
        print('Notas acima da media',notas[n])

In [62]:
#11. Dada uma lista de alunos e suas notas, imprima o nome dos alunos que tiraram nota acima de 7.0.
alunos = ['Ana', 'Bruno', 'Carlos', 'Diana', 'Eduardo']
notas2 = [6.5, 8.0, 7.2, 5.5, 9.1]
for aluno, nota in zip(alunos, notas2):
    if nota > 7.0:
        print(aluno)

Bruno
Carlos
Eduardo

In [ ]:
#12. Dada uma lista de produtos e preços, exiba quais produtos custam menos de R$ 10,00.
produtos2 = ['Sabão', 'Detergente', 'Shampoo', 'Condicionador', 'Escova']
precos2 = [3.5, 2.0, 15.0, 18.5, 8.0]
for ao, noj in zip(produtos2, precos2):
    if noj > 10.00:
        print(ao)

In [ ]:
#13. Imprima os funcionários cujo salário é maior que R$ 3000,00.
funcionarios = ['João', 'Mariana', 'Carlos', 'Beatriz', 'Lucas']
salarios = [2800, 3500, 2700, 4200, 3100]
for fu, sa in zip(funcionarios, salarios):
    if sa > 3000.00:
        print(fu)

In [70]:
#14. Imprima os nomes dos alunos reprovados (nota < 5).
alunos10 = ['Fernanda', 'Pedro', 'Luana', 'André', 'Gabriela']
notas10 = [4.0, 6.5, 3.8, 7.2, 5.0]
for al, notass in zip(alunos10, notas10):
    if notass < 5:
        print(al)

Fernanda
Luana

In [73]:
#15. Exiba os clientes que têm mais de 50 anos.
clientes = ['Roberto', 'Júlia', 'Ricardo', 'Carla', 'Sérgio']
idades = [45, 52, 37, 60, 49]
for cl, ida in zip(clientes, idades):
    if ida > 50:
        print(cl)

Júlia
Carla

In [74]:
#17. Verifique quais produtos de uma lista são mais caros que um determinado valor.
produtos9 = ['Caderno', 'Caneta', 'Lápis', 'Borracha', 'Estojo']
precos9 = [25.0, 2.5, 1.0, 3.0, 20.0]
limite = 10.0
pppp = []
for z in range(len(produtos9)):
    if precos9[z] > limite:
        pppp.append(produtos9[z])
print('Produto acima do limite:',pppp)

Produto acima do limite: ['Caderno', 'Estojo']

In [85]:
alunos9 = ['Alice', 'Bruno', 'Clara', 'Daniel']
notas9 = [9.8, 10.0, 7.5, 10.0]

alunos_nota_maxima = []

for i in range(len(alunos9)):
    if notas9[i] == 10.0:
        alunos_nota_maxima.append(alunos9[i])

print('Alunos com nota máxima:', alunos_nota_maxima)

Alunos com nota máxima: ['Bruno', 'Daniel']

In [86]:
#19. Encontre os clientes que têm saldo negativo.
clientes = ['Maria', 'José', 'Paula', 'Carlos']
saldos = [1200, -500, 300, -150]

clientes_negativos = []

for i in range(len(clientes)):
    if saldos[i] < 0:
        clientes_negativos.append(clientes[i])

print('Clientes com saldo negativo:', clientes_negativos)

Clientes com saldo negativo: ['José', 'Carlos']

In [90]:
#20. Liste os alunos e suas idades.
alunos = ['Gabriel', 'Mariana', 'Sofia']
idades = [15, 17, 14]

for i in range(len(alunos)):
    print('',alunos[i] ,'-', idades[i],' anos')

 Gabriel - 15  anos
 Mariana - 17  anos
 Sofia - 14  anos